/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body*/
main {
    padding: 20px;
    text-align: center;
    margin: 20px;
    text-align: left;
}

.p1
{
    color: white;
    font-size: 35px;
    margin: 25px;
}

body {
    background: rgb(17,0,0);
    background: linear-gradient(180deg, rgba(17,0,0,1) 0%, rgba(119,2,2,1) 90%);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333; 
    position: relative;
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/ContenidoAlbumify/FondoAcercaDe.png");
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.2; /* Controla la opacidad aquí */
    z-index: -1; /* Mantiene la imagen detrás del contenido */
}

/*BARRA DE NAVEGACIÓN---------------------*/
a:visited 
{
    text-decoration: none;
    decoration: none; 
}

.logo
{
    width: 150px;
    margin-left: 20px;
    margin-right: 0px;
}

.busqueda
{
    border-radius: 25px;
    background: #2E2929;
    padding: 20px;
    width: 400px;
    height: 40px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 30px;
}

.fill
{
    width: 40%;
}

.NavTab 
{  
    width:100%;
}
.NavTab tr td
{  
}

.TextoNav
{
    color: #FFFFFF;
    font-size: 140%;
    margin-left: 20px;
    margin-bottom: 30px;
}

.NavMedio
{
    color: #FFFFFF;
    font-size: 160%;
    margin-left: 30px;
    margin-top: 45px;
    
}
.NavMedio2
{
    color: #FFFFFF;
    font-size: 160%;
    margin-top: 45px;
    
}

.NavDer
{
    color: #FFFFFF;
    font-size: 160%;
}
.NavDer2
{
    color: #FFFFFF;
    font-size: 160%;
}

header {
    background: rgb(214,60,55);
    background: linear-gradient(90deg, rgba(214,60,55,1) 0%, rgba(111,14,11,1) 71%);
    color: #fff;
    padding: 10px 0;
}
header .logo {
    font-size: 24px;
    font-weight: bold;
}



/* Diseño de la página */
.layout {
    display: flex;
}

/* Barra de navegación lateral */
.side-nav {
    background: rgb(17,0,0);
    background: linear-gradient(180deg, rgba(17,0,0,1) 0%, rgba(119,2,2,1) 90%);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333; 
    width: 150px;
    padding: 20px;
    height: calc(100vh - 60px); /* Ajusta la altura quitando la de la barra superior */
    /*position: fixed;*/
    top: 167.84px; /* Altura de la barra superior */
    left: 0;
}

.side-nav ul {
    list-style: none;
}

.side-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.side-nav ul li a:hover {
    background-color: #dd9595;
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Ancho de la barra lateral */
    padding: 20px;
    margin-top: 60px; /* Altura de la barra superior */
}
/* Botón Agregar y Cancelar */

.btn-add {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #45a049;
}
.btn-cncl {
    background-color: #b65833;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cncl:hover {
    background-color: #773921;
}

/* Barra superior de gestión */
h2{
    color: #f1f1f1;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.search-bar .btn-search {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar .btn-search:hover {
    background-color: #0056b3;
}
table.BD {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px; 
    text-align: left;    
    border-collapse: collapse; 
    background-color: #ffffff;
}

    
label{
    color: white;
}